/****** Object:  Database [FlixOneDB]    Script Date: 6/3/2019 4:15:26 AM ******/
CREATE DATABASE [FlixOneDB]
GO
USE [FlixOneDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/3/2019 4:15:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 6/3/2019 4:15:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[id] [uniqueidentifier] NOT NULL,
	[DiscountRate] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Active] [bit] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/3/2019 4:15:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/3/2019 4:15:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[ShortName] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/3/2019 4:15:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[EmailId] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[SecretKey] [nvarchar](max) NULL,
	[Mobile] [varchar](13) NOT NULL,
	[EmailToken] [nchar](10) NULL,
	[EmailTokenDateTime] [datetime] NULL,
	[OTP] [nchar](10) NULL,
	[OtpDateTime] [datetime] NULL,
	[IsMobileVerified] [bit] NULL,
	[IsEmailVerified] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[Image] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (N'891872e6-5824-4096-ad42-b67408cddba0', N'Fruit', N'All fruits')
GO
INSERT [dbo].[Discounts] ([id], [DiscountRate], [Description], [Active], [ProductId]) VALUES (N'5b40c2b6-6306-4071-95c0-c166a147e133', CAST(5.00 AS Decimal(18, 2)), N'Seasonal Discount', 1, N'09c2599e-652a-4807-a0f8-390a146f459b')
GO
INSERT [dbo].[Discounts] ([id], [DiscountRate], [Description], [Active], [ProductId]) VALUES (N'622fdb55-380a-405d-a24a-1e6defe32994', CAST(105.00 AS Decimal(18, 2)), N'Wrong discount, should be ignored', 0, N'09c2599e-652a-4807-a0f8-390a146f459b')
GO
INSERT [dbo].[Discounts] ([id], [DiscountRate], [Description], [Active], [ProductId]) VALUES (N'eff2622c-9d44-4a86-938c-3fa079dffa95', CAST(3.00 AS Decimal(18, 2)), N'Fruit dhamaka', 1, N'e2a8d6b3-a1f9-46dd-90bd-7f797e5c3986')
GO
INSERT [dbo].[Roles] ([Id], [UserId], [Name], [ShortName]) VALUES (N'93b88b32-d8b3-4dbf-8561-0947f6f94d4b', N'db38ab09-b499-496a-979f-08d6c745083c', N'Administrator', N'Admin')
GO
INSERT [dbo].[Roles] ([Id], [UserId], [Name], [ShortName]) VALUES (N'345bc3eb-dcce-43fa-96de-735800e919d5', N'db38ab09-b499-496a-979f-08d6c745083c', N'Manager', N'Manager')
GO
INSERT [dbo].[Roles] ([Id], [UserId], [Name], [ShortName]) VALUES (N'ae9ba01e-097f-47db-9ef4-2f2bc13122dd', N'bc8fc9c2-6ff6-4046-9574-08d6c83263d0', N'Editor', N'Editor')
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 6/3/2019 4:15:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
