Chapter1/FlixOne/FlixOne.InventoryManagementClient/obj/
Chapter1/FlixOne/FlixOne.InventoryManagementTests/obj/
Chapter1/FlixOne/FlixOne.InventoryManagementTests/bin/
Chapter1/FlixOne/.vs/
Chapter1/FlixOne/FlixOne.InventoryManagement/bin/
Chapter1/FlixOne/FlixOne.InventoryManagement/obj/
Chapter1/FlixOne/FlixOne.InventoryManagementClient/bin/
