@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This sample application demostrate the simplest way to authenticate users.</p>
</div>