<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
          <h4>Product Listing</h4>
        </div>
      </div>
      <hr />
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <button class="btn btn-success" (click)="getNavigation('create', '')">Create New Product</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
      <table class="table table-striped" >
        <thead class="thead-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Cat. Name</th>
        <th scope="col">Cat. Desc.</th>
        <!-- <th scope="col">Image</th> -->
        <th scope="col">Price</th>
        <th></th>
        </tr> 
        </thead>
        <tbody>
        <tr *ngFor="let product of productList;">
          <td>{{product.productName}}</td>
          <td>{{product.productDescription}}</td>
          <td>{{product.categoryName}}</td>
          <td>{{product.categoryDescription}}</td>
          <!-- <td><img src="data:image/svg+xml;base64, {{product.productImage}}" alt="{{product.productName}}" /></td> -->
          <td>Rs. {{product.productPrice}}</td>
          <td>
            <button type="button" class="btn btn-success btn-sm" (click)="getNavigation('view', product.productId)">View </button>
            <button type="button" class="btn btn-warning btn-sm" (click)="getNavigation('update', product.productId)">Edit </button>
            <button type="button" class="btn btn-danger btn-sm"  (click)="deleteProduct(product.productId)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>