@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a home page of FlixOne Product API Documentation. See <a href="/swagger"> documentations</a></p>
</div>
